body 
{
    background-color: rgb(253, 251, 251);
}

#cabecalho
{
    position:fixed;
    top: 0;
}

#minha_foto
{
    height: 150px;
}

#tabela
{
    border: solid 5px;
}

#minha_foto
{
    margin-left: 280px;
}

#cabecalho
{
    padding-left: 200px;
}
