body 
{
    background-color: rgb(253, 251, 251);
    color:brown;
    line-height: 25px;
    font-size:small;
    font-family: 'Courier New', Courier, monospace;
}

#cabecalho
{
    position:fixed;
    top: 0;
}

#minha_foto
{
    height: 150px;
}

#tabela
{
    border: solid 5px;
}

#minha_foto
{
    margin-left: 280px;
}

#cabecalho
{
    padding-left: 200px;
}
