body 
{
    background-color:bisque;
    color:brown;
    line-height: 25px;
    font-size:small;
    font-family: 'Courier New', Courier, monospace;
}

#cabecalho
{
    position:fixed;
    top: 0;
    left: 0%;
    background-color: gray;
    width: 100%;
}

#minha_foto
{
    margin-top: 100px;
    height: 250px;
}

#tabela
{
  border: solid 5px;
  width: 100%;
  margin-bottom : .5em;
  text-align: center;
}

#minha_foto
{
    margin-left: 280px;
    align-items: center;
}

#cabecalho
{
    padding-left: 200px;
}

.lado-direito
{
    float: right;
    max-width: 100%;
}

.lado-esquerdo
{
    float: left;
    max-width: 100%;
}

a {
    color: brown;
    text-decoration: none;
}
